*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
folioreader/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
folioreader/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
